@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Macondo+Swash+Caps&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

body {
  margin: 0;
  padding: 0;

  background-color: rgb(251, 245, 237);
}

/****************   Nav Section **********************/
nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;

  background-color: darkslategray;
  font-family: "Karla", sans-serif;
  color: rgb(251, 245, 237);
}

nav a{
  color: rgb(251, 245, 237);
}

/***********************  Footer Section   **************************/
footer {
	padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: darkslategray;
  font-family: "Karla", sans-serif;
  color: rgb(251, 245, 237);
}

footer a{
  color: rgb(251, 245, 237);
  align-self: center;
  margin-right: 7px;
  margin-left: 10px;
}

/*********** Splash Page ************************/
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 10px 10px 10px;
}

header h1 {
  color: darkslategrey;
  font-family: "Macondo Swash Caps", cursive;
  font-size: 100px;
}

header img {
  border: 10px outset darkslategray;
}

.address {
  display: flex;
  justify-content: space-around;

  font-family: "Karla", sans-serif;
  font-style: italic;
  color: darkslategrey;
}

.tagline {
  display: flex; 
  padding-bottom: 7px;
  justify-content: space-around;

  font-family: "Karla", sans-serif;
  font-weight: 700; 
  color: darkslategrey;
}

/************* Sections ********************/
hr {
  padding-bottom: 5px;
  background-color: darkslategray;
}

h2 { 
  color: darkslategrey;
  font-family: "Spectral", serif;
}

section {
  margin-left: 15px;
}

section h3 {
  color: darkslategrey;
  font-family: "Spectral", serif;
}

section dl {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;

  margin-left: 15px;

  font-family: "Karla", sans-serif;
  color: darkslategrey;
}

section ul {
  list-style:square;

  font-family: "Karla", sans-serif;
  color: darkslategrey;
}

section a {
  font-family: "Karla", sans-serif;
  color: darkslategrey;

  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin: 15px 15px 15px 0;
}

.card img {
  border: 3px double antiquewhite;
  border-radius: 3px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  box-shadow: 0 5px 10px #00000080;

  background-color: darkslategray;
  color: antiquewhite;
  border: 3px double antiquewhite;
}

.card h3{
  color: antiquewhite;
}

.card ul{
  color: antiquewhite;
}

.card:hover{
  border: 10px double antiquewhite;
}


/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;

      padding: 10px;
    }

    .three-col {
      grid-template-columns: 1fr;
      gap: 15px;
      justify-items: center;
    }

    .card {
      width: 90%;
    }

}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  
  padding: 15px;
  margin: 15px auto;
  max-width: 700px;

  border-radius: 5px;

  font-family: "Karla", sans-serif;
  font-weight: 700; 

  border: 5px outset darkslategray;
  background-color: darkslategray;
  color: antiquewhite;
  font-size: 1rem;
}

input {
  width: 100%;
  border: 1px solid darkslategray;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1rem;

  border-radius: 3px;

}

textarea {
  width: 100%;
  border: 1px solid darkslategray;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1rem;

  border-radius: 3px;

}

button {
  background-color: antiquewhite;
  color: darkslategrey;
  font-weight: 700;
  padding: 10px;
  border: solid;
  border-radius: 5px;
}

button:hover {
  background-color: darkslategray;
  color: antiquewhite;
}
